# IMPORTANT: This is only used for the Streamlit app deployment
# to Streamlit Community Cloud, since it doesn't have support for uv.
# USE PYPROJECT.TOML AND UV.LOCK FOR YOUR OWN INSTALL!

httpx~=0.26.0
pydantic ~=2.9.0
streamlit~=1.37.0
